name: Create release branch

on:
  push:
    branches:
      - master

jobs:
  check-commit-type:
    runs-on: ubuntu-latest
    outputs:
      should_continue: ${{ steps.check.outputs.should_continue }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check if this is a merge from a release branch
        id: check
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ "$LAST_COMMIT_MSG" == *"Merge pull request"* && "$LAST_COMMIT_MSG" == *"from release/"* ]]; then
            echo "This is a merge from a release branch, skipping version bump"
            echo "should_continue=false" >> "$GITHUB_OUTPUT"
          else
            echo "should_continue=true" >> "$GITHUB_OUTPUT"
          fi

  bump-version:
    needs: check-commit-type
    if: needs.check-commit-type.outputs.should_continue == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --tags

      - name: Set up Git user
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - uses: ./.github/actions/install-all
        with:
          python-version: "3.14"

      - name: Get Next Version
        id: check_version
        run: |
          VERSION=$(poetry run cz bump --get-next 2>&1) || VERSION="fail"

          if [[ "$VERSION" == "fail" || "$VERSION" == *"error"* || "$VERSION" == *"Traceback"* || ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "version_found=false" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "version_found=true" >> "$GITHUB_OUTPUT"

      - name: Run Commitizen Bump
        if: steps.check_version.outputs.version_found == 'true'
        run: |
          poetry run cz bump --yes

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        if: steps.check_version.outputs.version_found == 'true'
        with:
          branch: "release/${{ steps.check_version.outputs.version }}"
          title: "Release ${{ steps.check_version.outputs.version }}"
          body: "This pull request bumps the version to ${{ steps.check_version.outputs.version }}."
          base: master
          reviewers: tomasvotava
